@page "/overview"
@*<h1>This is my Title</h1>
    <h1>Another Similar Title</h1>*@

<div class="color">
    <h1>Blazor Tutorial</h1>
</div>

<br />

<h4>Introduction to ASP.NET Core Blazor</h4>



<div>
    <a href="#" class="previous round">&#8249;</a>
    <a href="/component" class="next round">&#8250;</a>
</div>

<hr />




<div class="row">
    <div class="col-sm-7 col-lg-7 col-md-7">
        <h5>What Is Blazor?</h5>
        <p>
            Blazor is the new microsoft web framework for building single page applications (SPA) using .NET.
        </p>
        <p>
            Blazor lets you build interactive web UIs using existing web technologies like HTML, CSS but use C# instead of JavaScript. With Blazor you can write your client-side logic and UI components in C#, compile them into normal .NET assemblies, and then run them directly in the browser using a new open web standard called WebAssembly.
        </p>

        <p>
            Blazor enables full-stack web development with .NET
        </p>
    </div>
    <div class="col-sm-5 col-lg-5 col-md-5">
        <p>
            <img src="https://dotnet.microsoft.com//static/images/screenshot-blazor-sample.png?v=I8ehzNLqsOCsVxsF3R-AiNMUf8tsQUZcaO7bZ0JW_go" alt="Blazor WebAssembly runs .NET code in the browser with WebAssembly." role="presentation" class="img-fluid img-fluid-center img-bordered" width="900" height="300" style="border:thick">
        </p>
    </div>
</div>

<hr />

<br />

<div class="row">
    <div class="col-sm-7 col-lg-7 col-md-7">
        <p>
            Blazor will support all of the features of a modern single page app framework:
            <br />
            <br />

            &nbsp; &nbsp; A component model for building composable UI
            <br />

            &nbsp; &nbsp; Routing
            <br />

            &nbsp; &nbsp; Layouts
            <br />

            &nbsp; &nbsp; Forms and validation
            <br />

            &nbsp; &nbsp; Dependency injection
            <br />

            &nbsp; &nbsp; JavaScript interop
            <br />

            &nbsp; &nbsp; Full .NET debugging both in browsers and in the IDE
            <br />

            &nbsp; &nbsp; Rich IntelliSense and tooling
            <br />

        </p>

    </div>
    <div class="col-sm-5 col-lg-5 col-md-5">
        <p>
            <img src="/image/BlazorFramework.png" alt="Blazor WebAssembly runs .NET code in the browser with WebAssembly." role="presentation" class="img-fluid img-fluid-center img-bordered" width="900" height="300" style="border:thick">
        </p>
    </div>
</div>


<hr />



@*<div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6">
                <p>
                    <img src="https://docs.microsoft.com/en-us/aspnet/core/blazor/index/_static/blazor-webassembly.png?view=aspnetcore-3.0" alt="Blazor WebAssembly runs .NET code in the browser with WebAssembly." data-linktype="relative-path">
                </p>

            </div>
            <div class="col-sm-6 col-md-6">
                <p>
                    <img src="https://dotnet.microsoft.com/static/images/screenshot-blazor-sample.png?v=I8ehzNLqsOCsVxsF3R-AiNMUf8tsQUZcaO7bZ0JW_go" alt="Blazor WebAssembly runs .NET code in the browser with WebAssembly." data-linktype="relative-path" width="660" height="225">
                </p>
            </div>
        </div>
    </div>*@

<hr />

<div>
    <a href="#" class="previous round">&#8249;</a>
    <a href="/component" class="next round">&#8250;</a>
</div>

<hr />


<h5>Summary</h5>

<div class="alert alert-secondary mt-4" role="alert">

    <p>
        <ul style="list-style-type: none;">
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Blazor is a single page application framework for building interactive client-side web apps with .NET</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Write code in C# instead of JavaScript.</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> .NET web framework that runs in any browser</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Blazor will support all of the features of a modern SPA like Angular, React, Vue.</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Running .NET code inside web browsers.</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Blazor uses open web standards without plugins or code transpilation.</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Blazor works in all modern web browsers, including mobile browsers.</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Blazor apps can use existing .NET libraries.</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Blazor is part of the open-source .NET platform that has a strong community.</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Blazor enables full-stack web development with .NET</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Normally, this kind of client-side behavior is handled in JavaScript but here, it is implemented in C# and .NET</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> This could be a game changer for C# developers who wants to build Web apps without learning JavaScript and related libraries.</li>
            <li> <span class="oi oi-pencil mr-2" aria-hidden="true"></span> Browser + Razor = Blazor!</li>
        </ul>
    </p>

</div>

@code {

}



@*Blazor gives you the ability to write rich web apps with C# rather than JavaScript*@
@*Blazor is a .NET web framework using C#/Razor and HTML that runs in the browser with WebAssembly.*@
@*It is a low-level assembly-like language with a compact binary format that provides a way to run code written in multiple languages on the web at near native speed.*@
@*Blazor is a Single Page Application development framework. The name Blazor is a bastardisation of the words Browser and Razor (the .NET HTML view generating engine). The implication being that instead of having to execute Razor views on the server in order to present HTML to the browser, Blazor is capable of executing these views on the client.*@
@*Running .NET in the browser is made possible by a relatively new standardized web technology called WebAssembly.*@

@*Q: What features will Blazor support?
    Blazor will support all of the features of a modern single page app framework:

    A component model for building composable UI
    Routing
    Layouts
    Forms and validation
    Dependency injection
    JavaScript interop
    Live reloading in the browser during development
    Server-side rendering
    Full .NET debugging both in browsers and in the IDE
    Rich IntelliSense and tooling
    Publishing and app size trimming*@


@*With Blazor you can write your client-side logic and UI components in C#, compile them into normal .NET assemblies, and then run them directly in the browser using a new open web standard called WebAssembly.*@
@*Blazor enables full-stack web development with .NET.*@

@*However, none of the ASP.NET offerings provide a way to run code that executed in the user's browser. To do that requires writing JavaScript and using any of the many JavaScript frameworks and tools that have phased in and out of popularity over the years: jQuery, Knockout, Angular, React, and so on.*@
@*Blazor used web assembly and web assembly able to convert your c# code in native machine code which is understand by browser. Javascript is also converted in to native machine code which is understand by browser. It is not used angular or react inside.*@
@*Blazor is a .NET-based framework for building web applications that runs in the browser*@

<style>
    /*Headear Blazor Turotial Start*/
    h1 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
    }

        h1:before, h1:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 1px;
            content: '\a0';
            background-color: red;
        }

        h1:before {
            margin-left: -50%;
            text-align: right;
        }

    .color {
        background-color: #ccc;
    }
    /*Headear Blazor Turotial End*/
</style>
